.aboutus {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .imageandiframe {
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .aboutus_img {
      width: 400px;
      border-radius: 10px;
    }

    iframe {
      width: 500px;
      height: 250px;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 1px;
    }
  }
  h3 {
    color: #150c01;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.625px;
    text-align: center;
  }
  .aboutus_p {
    color: #dc780b;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .aboutus {
    .imageandiframe {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      iframe {
        width: 200px;
        margin-left: 10px;
        height: 170px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px;
      }
      .aboutus_img {
        width: 200px;
      }
    }
    h3 {
      font-size: 20px;
      text-align: center;
    }
  }
}
