.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fdd2103f;
  width: 100%;
  .contact_texts {
    .contact_h3 {
      color: #dc780b;
      font-size: 16px;
      padding-top: 20vh;
    }
    .paragraph {
      font-size: 31px;
      font-weight: 700;
      padding-bottom: 10vh;
    }
  }
  .contact_inputs {
    padding-bottom: 20vh;
    input {
      width: 65vw;
      height: 13vh;
      border-radius: 10px;
      border: none;
      outline: none;
      padding-left: 35px;
    }
    button {
      border-radius: 10px;
      border: none;
      width: 10vw;
      color: white;
      background-color: #dc780b;
      height: 13vh;
    }
  }
}

@media (max-width: 767px) {
  .contact {
    .contact_texts {
      .contact_h3 {
        padding-top: 10vh;
      }
      .paragraph{
        font-size: 25px;
      }
    }
    .contact_inputs {
        padding-bottom: 15vh;
      input {
        width: 60vw;
        height: 10vh;
      }
      button {
        width: 20vw;
        height: 10vh;
      }
    }
  }
}
