.features {
  text-align: center;
  padding-top: 20vh;
  .features_p {
    color: #dc780b;
  }
  .img_div_features{
    margin-top: 20px;
  }
}

.vektor{
    position: absolute;
    top: 0;
    z-index: -1;
}
