.hereAria {
  padding-top: 15vh;
  .hereAria_row {
    display: flex;
    justify-content: center;
    align-items: center;
    .hero_aria_btns {
      .order_now {
        border-radius: 5px;
        transition: 0.2s;
        background: #dc780b;
        border: none;
        color: white;
        width: 158px;
        height: 40px;
        flex-shrink: 0;
      }
      .order_now:active {
        transform: translateY(-10px);
      }
      .food_details {
        width: 158px;
        transition: 0.2s;
        height: 40px;
        border: none;
        color: #dc780b;
        border-radius: 5px;
        background-color: transparent;
      }
      .food_details:active {
        transform: translateY(-10px);
      }
    }
  }
}

.down {
  width: 80px;
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  animation: downArr infinite 1.5s;
}

@media (min-width: 1200px) {
  .down {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .down {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .down {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 576px) {
  .down {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@keyframes downArr {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
}
