.menu {
    padding-top: 20vh;
  .menu_p {
    color: #dc780b;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}
