.offcanvas-body {
  .cart_item {
    background-color: #dc780b;
    border-radius: 10px;
  }
}

.bag_btn {
  width: 60px;
}

// @media (min-width: 768px) {
//   .bag_btn {
//     display: none;
//   }
// }

@media (min-width: 992px) {
  .bag_btn {
    display: none;
  }
}

.buy_now {
  border: 1px solid #dc780b;
  background-color: #dc780b;
  color: white;
  padding: 6px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
}
